ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{HTTP_HOST} !^davidhunter.scot$ [AND]
    RewriteCond %{HTTP_HOST} !^coming-soon-to.davidhunter.scot$ [OR]
    RewriteCond %{SERVER_PORT} ^80$
    RewriteRule ^(.*)$ https://davidhunter.scot/$1 [R=307,END]
</IfModule>
