*,
*::before,
*::after
{
  box-sizing: border-box;
  line-height: 1.6;
}

:root
{
  --color-dark: #222;
  --color-dark-alt: #333;
  --color-light: #eee;
  --color-light-alt: #fff;
  --color-text: var( --color-dark );
  --color-text-alt: var( --color-dark-alt );
  --color-background: var( --color-light );
  --color-background-alt: var( --color-light-alt );
  --color-text-muted: #888;
  
  --font-poppins: 'Poppins', sans-serif;
}

@media( prefers-color-scheme: dark )
{
  :root
  {
    --color-text: var( --color-light );
    --color-text-alt: var( --color-light-alt );
    --color-background: var( --color-dark );
    --color-background-alt: var( --color-dark-alt );
  }
  
  body.toggle-color-scheme
  {
    --color-text: var( --color-dark );
    --color-text-alt: var( --color-dark-alt );
    --color-background: var( --color-light );
    --color-background-alt: var( --color-light-alt );
  }
}

@media( prefers-color-scheme: light )
{
  nav
  {
    box-shadow: 3px 3px 5px #ddd;
  }
  
  body.toggle-color-scheme
  {
    --color-text: var( --color-light );
    --color-text-alt: var( --color-light-alt );
    --color-background: var( --color-dark );
    --color-background-alt: var( --color-dark-alt );
  }
  
  body.toggle-color-scheme nav
  {
    box-shadow: none;
  }
}

html,
body
{
  font-family: var( --font-poppins );
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body
{
  background-color: var( --color-background );
  color: var( --color-text );
}

a
{
  color: var( --color-text );
}

img
{
  max-width: 100%;
}

.container
{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

header
{
  background-color: var( --color-background-alt );
}

header .container
{
  padding-bottom: 0;
}

header h1
{
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

header h1 a
{
  text-decoration: none;
}

header p
{
  color: var( --color-text-muted );
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav
{
  background-color: var( --color-background-alt );
}

nav .container
{
  display: flex;
  gap: 1rem;
}

nav a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

nav a:hover,
nav a.current
{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

main a
{
  font-weight: 600;
  color: var( --color-text-alt );
}

h2.section-title
{
  font-size: 1rem;
  text-transform: uppercase;
  color: var( --color-text-muted );
  margin: 0;
}

.blog-entries,
.blog-entry
{
  max-width: 800px;
}

.blog-entry
{
  display: flex;
  flex-direction: column;
}

.blog-entries .title
{
  font-size: 1.6rem;
  margin: 0;
  text-transform: uppercase;
}

.blog-entries .metadata .avatar
{
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.blog-entry .section-title
{
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var( --color-text-muted );
}

.blog-entry .title
{
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.blog-entry .content .title
{
  font-size: 2.5rem;
  font-weight: 900;
}

.blog-entries .metadata,
.blog-entry .metadata
{
  font-size: 0.8rem;
  margin: 0;
}

.blog-entry .content
{
  order: 1;
}

.blog-entry .content img
{
  margin-left: -1rem;
  margin-right: -1rem;
  max-width: calc( 100% + 2rem );
}

.blog-entry .metadata
{
  order: 2;
  display: flex;
  flex-direction: row;
}

.blog-entry .metadata .avatar img
{
  width: 100px;
  border-radius: 50%;
}

.blog-entries .buttons
{
  display: flex;
}

.blog-entries .buttons a
{
  padding: 0.5rem 1rem;
  background-color: var( --color-background-alt );
  color: var( --color-text-muted );
  border-radius: 8px;
  text-decoration: none;
}

footer
{
  text-align: centerd;
  font-size: 0.8rem;
}

@media (min-width:800px)
{
  .blog-entry
  {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }

  .blog-entry .metadata
  {
    width: 300px;
    margin-top: 20px;
    order: 1;
    flex-direction: column;
  }

  .blog-entry .metadata .avatar img
  {
    width: 150px;
  }

  .blog-entry .content
  {
    max-width: 600px;
    order: 2;
    padding: 1rem;
  }

  .blog-entry .content:first-child
  {
    margin-top: 0;
  }
}
